.menu_containtor {
  color: #fff;
  position: relative;
  z-index: 20;
}
.menu_containtor .menu_title {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #202629;
  height: 0.98rem;
}
.menu_containtor .menu_title .menu_logo {
  float: left;
  margin: 0.13rem 0 0 0.28rem;
}
.menu_containtor .menu_title .menu_logo img {
  display: block;
  width: 1.59rem;
  height: 0.5rem;
}
.menu_containtor .menu_title .menu_swtich {
  float: right;
  width: 0.44rem;
  height: 0.02rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  background: #fff;
  transition: 0.5s;
}
.menu_containtor .menu_title .menu_swtich::before {
  content: '';
  height: 0.02rem;
  display: block;
  margin-top: -0.1rem;
  background-color: #fff;
  transition: 0.5s;
}
.menu_containtor .menu_title .menu_swtich::after {
  content: '';
  display: block;
  height: 0.03rem;
  margin-top: 0.2rem;
  background-color: #fff;
  transition: 0.5s;
}
.menu_containtor .menu_title .menu_swtich.menu_swtich--expend {
  background-color: transparent;
  transition: 0.5s;
}
.menu_containtor .menu_title .menu_swtich.menu_swtich--expend::before {
  margin-top: 0rem;
  transform: rotate(45deg);
  background-color: #ec1c1c;
  transition: 0.5s;
}
.menu_containtor .menu_title .menu_swtich.menu_swtich--expend::after {
  transform: rotate(-45deg);
  background-color: #ec1c1c;
  margin-top: 0rem;
  transition: 0.5s;
}
.menu_containtor .menu_title .menu_attend {
  float: right;
  width: 1.4rem;
  height: 0.51rem;
  line-height: 0.51rem;
  text-align: center;
  font-size: 0.24rem;
  border: 3px #ffe537 solid;
  margin-top: 0.17rem;
  margin-right: 0.5rem;
}
.menu_containtor .menu_nav {
  position: fixed;
  width: 0;
  height: 0;
  color: #fff;
  top: 0.9rem;
  font-size: 0.4rem;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.9);
}
.menu_containtor .menu_nav li {
  border-top: 1px solid #2c2c2c;
  height: 1.36rem;
  line-height: 1.36rem;
  overflow: hidden;
}
.menu_containtor .menu_nav li a {
  text-decoration: none;
  color: #fff;
}
.menu_containtor .menu_nav.menu_nav--expend {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
